.dot {
  height: 10px;
  width: 10px;
  padding: 0px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.space{
  height: 10px;
  width: 10px;
  padding: 0px;
 
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

/* .box{
  padding: 0px
} */

.piece{
  padding:6px
}

.box.top{
  margin-bottom: 0px;
  border-bottom: 5px solid black;
} 

.box{
  height:80px;
  padding: 0px;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
            "a b c"
            "d e f"
            "g h i";
}

.zero{
  height: 10px;
  width: 10px;
  padding: 0px;
  border-radius: 50%;
  display: inline-block;
}

.one{
  grid-area: a;
  height: 10px;
  width: 10px;
  padding: 0px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
  place-self: center;
}

.three{
  grid-area: c;
  /* grid-area: b; */

  height: 10px;
  width: 10px;
  padding: 0px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
  place-self: center;
}

.four{
  grid-area: d;
  /* grid-area: b; */

  height: 10px;
  width: 10px;
  padding: 0px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
  place-self: center;
}

.five{
  grid-area: e;
  /* grid-area: b; */

  height: 10px;
  width: 10px;
  padding: 0px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
  place-self: center;
}

.six{
  grid-area: f;
  /* grid-area: b; */

  height: 10px;
  width: 10px;
  padding: 0px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
  place-self: center;
}

.seven{
  grid-area: g;
  /* grid-area: b; */

  height: 10px;
  width: 10px;
  padding: 0px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
  place-self: center;
}

.nine{
  grid-area: i;
  /* grid-area: b; */

  height: 10px;
  width: 10px;
  padding: 0px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
  place-self: center;
}